@import "../config/functions";
@import "../config/mixins";

.accordion {
	display: flex;
	flex-direction: column;
	gap: rem(10);
	/** Установить свои значения */
	$radius: 4;
	$icon-size: 24;

	// .accordion__item
	&__item {
		border: 2px solid rgba(#00A3FF, .3);
		border-radius: rem(15);
		transition: 0.3s ease-in-out;

		&.open {
			.accordion__header {
				color: var(--primary-color);

				/** Установить свои значения */
				// background-color: #e7f1ff;

				&::after {
					transform: rotate(0deg);
					background-image: url("@img/svg/chevron-down-color.svg");
				}
			}

			.accordion__content {
				block-size: max-content;

				/** Установить свои значения */
				padding: 0 rem(38) rem(33);

				@include media-mx(767) {
					padding: 0 rem(20) rem(20);
				}
			}
		}
	}

	// .accordion__header
	&__header {
		cursor: pointer;
		display: flex;
		position: relative;

		/** Установить свои значения */
		padding: rem(33) rem(38);
		align-items: center;
		justify-content: space-between;
		transition: all 0.3s ease-in-out;

		@include adaptiv-font(30, 20);

		// &:hover {
		// 	background: rgba(#fff, 2%);
		// }

		// &:active {
		// 	background: rgba(#fff, 5%);
		// }

		@include pseudo-cell(after, static) {
			block-size: rem($icon-size);
			inline-size: rem($icon-size);
			// background-color: #fff;
			background-image: url("@img/svg/chevron-down-white.svg");
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			transform: rotate(180deg);
			transition: all 0.6s ease-in-out;
		}

		@include media-mx(767) {
      padding: rem(20);
    }
	}

	// .accordion__content
	&__content {
		display: flex;
		flex-direction: column;
		gap: rem(20);
		block-size: 0;

		/** Установить свои значения */
		padding: 0 rem(38);
		overflow: hidden;
		transition: all 0.3s ease-in-out;
		@include adaptiv-font(18, 16);
    line-height: 1.4;

		@include media-mx(767) {
      padding: 0 rem(20);
    }
	}
}
